@font-face {
   font-family: 'JetBrains';
   src: url('../fonts/jetbrains.ttf') format('truetype');
}
@font-face {
   font-family: 'FiraCode';
   src: url('../fonts/fira-code.ttf') format('truetype');
}
@font-face {
   font-family: 'Inter';
   src: url('../fonts/inter.ttf') format('truetype');
}